<div class="container-form sign-in">
    <form class="formulario">
        <h2 class="create-account">Iniciar Sesión</h2>
        <input type="email" name="email" id="email-signIn" placeholder="Email">
        <p class="error-msg"></p>

        <input type="password" name="password" id="password-signIn" placeholder="Contraseña">
        <p class="error-msg"></p>

        <input type="button" value="Iniciar Sesión">
    </form>
    <div class="welcome-back">
        <div class="message">
            <h2>Bienvenido de nuevo</h2>
            <p>Si aún no tienes una cuenta por favor regístrate aquí</p>
            <p>Olvidaste tu contraseña? <a href="/reset-password" class="recovery">Recuperar</a></p>
            <button class="page-btn-green sign-in-btn">Registrarse</button>
        </div>
    </div>
</div>