<div class="container-form sign-up">
    <div class="welcome-back">
        <div class="message">
            <h2>Bienvenido a Sentinel Track Systems</h2>
            <p>Si ya tienes una cuenta por favor inicia sesión aquí</p>
            <button class="page-btn-green sign-up-btn">Iniciar Sesión</button>
        </div>
    </div>

    <form class="formulario">
        <p class="cuenta-gratis">Registrarse</p>
        <input type="text" name="name" id="name-signUp" placeholder="Nombre">
        <p class="error-msg"></p>
        <input type="email" name="email" id="email-signUp" placeholder="Email">
        <p class="error-msg"></p>
        <input type="password" name="password" id="password-signUp" placeholder="Contraseña">
        <p class="error-msg"></p>
        <input type="button" value="Registrarse">
    </form>
</div>