<link rel="stylesheet" href="/css/profileAdmin/categories.css">

<section class="admin-section max-width">
    <h1>Categorías Registradas</h1>
    <div class="return">
        <a href="/perfil-admin" class="page-btn-green">Panel del administrador</a>
    </div>
    {{#if categories.length}}
    <table class="admin-table">
        <thead>
            <tr>
                <th>Nombre de la Categoría</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {{#each categories}}
            <tr>
                <td class="category">{{this.category}}</td>
                <td class="action">
                    <button class="page-btn-green page-btn " data-id="{{this._id}}" data-action="edit">Editar</button>
                    <button class="page-btn-red page-btn" data-id="{{this._id}}" data-action="delete">Eliminar</button>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    {{else}}
    <p class="no-data">No hay categorías registradas en la plataforma en el momento.</p>
    {{/if}}
    <div class="add-category">
        <form id="addCategoryForm">
            <h3>Agregar nueva categoría</h3>
            <input type="text" name="category" placeholder="Nombre de la categoría" required />
            <div>
                <button type="submit" class="page-btn-green user">Registrar Categoría</button>
            </div>
        </form>
    </div>
</section>

<script src="/js/profileAdmin/categories.js"></script>