<link rel="stylesheet" href="/css/tracking/leafletMap.css">

{{> main/header}}
<section class="map-container" role="region" aria-label="Mapa de rastreo SentinelTrack" itemscope
    itemtype="https://schema.org/Map">
    <div id="map" role="application" aria-label="Mapa interactivo de rastreo" itemprop="map"></div>
    <ul id="poi-list" role="list" aria-label="Lista de puntos de interés"></ul>
    <ul id="geofence-list" role="list" aria-label="Lista de geocercas definidas"></ul>
</section>

<script src="/js/tracking/leafletMap.js"></script>