<link rel="stylesheet" href="/css/index/about.css">

<section class="about" id="about" role="region" aria-label="Sección Sobre SentinelTrack Systems" itemscope
    itemtype="https://schema.org/AboutPage">
    <div class="main">
        <div class="img-content">
            <img src="/assets/images/about-green.png" class="img" alt="Sobre SentinelTrack Systems" itemprop="image">
        </div>
        <div class="about-text max-width">
            <h1 itemprop="headline">{{this.about_us_title}}</h1>
            <p itemprop="description">{{this.about_us_text}}</p>
            <p itemprop="description">{{this.about_us_text_2}}</p>
            <a href="/servicios" class="page-btn-green"
                data-tooltip="Conoce más sobre nuestros servicios de IoT, AI y e-commerce"
                aria-label="Más información sobre los servicios de SentinelTrack Systems">
                Más información
            </a>
        </div>
    </div>
</section>