<link rel="stylesheet" href="/css/index/pricing.css">

<div class="container max-width">
    <h1>Elegir un plan</h1>
    <div class="toggle-switch">
        <span>Facturacion anual</span>
        <input type="checkbox" class="toggler">
        <span> Facturacion mensual</span>
    </div>

    <div class="cards">
        <div class="card" id="card-1">
            <h1 class="card-title">Basico</h1>
            <h2 class="card-price" id="starter-price"> $19 <span> / month</span> </h2>
            <ul class="card-plan">
                <li>500 usuarios activos mensuales</li>
                <li>Hasta 3 proyectos IoT/AI</li>
                <li>Guías ilimitadas</li>
                <li>Flujos ilimitados</li>
                <li>Temas de marca básicos</li>
                <li>Soporte por correo electrónico</li>
            </ul>
        </div>

        <div class="card active" id="card-2">
            <h1 class="card-title">Pro</h1>
            <h2 class="card-price" id="pro-price"> $99 <span> / month</span> </h2>

            <select id="maus">
                <option value="500">500 usuarios</option>
                <option value="1000">1000 usuarios</option>
                <option value="1500">1500 usuarios</option>
                <option value="2000">2000 usuarios</option>
                <option value="2500">2500 usuarios</option>
            </select>
            <span class="note"> usuarios activos al mes</span>

            <ul class="card-plan">
                <li>Incluye todo lo del plan Inicial, más:</li>
                <li>Proyectos ilimitados</li>
                <li>Temas totalmente personalizables</li>
                <li>Gestor de éxito del cliente dedicado</li>
                <li>Integración avanzada con APIs y bases de datos</li>
            </ul>
        </div>

        <div class="card" id="card-3">
            <h1 class="card-title">Enterprise</h1>
            <h2 class="card-price"> Contactanos! </h2>
            <ul class="card-plan">
                <li>Incluye todo lo del plan Profesional</li>
                <li>Usuarios ilimitados</li>
                <li>Entorno dedicado y seguro</li>
                <li>Administración avanzada de cuentas</li>
                <li>Servicios premium y soporte prioritario</li>
                <li>Arquitectura modular personalizada para tu empresa</li>
            </ul>
        </div>
    </div>
</div>

<script src="/js/index/pricing.js"></script>lin