.reset-password {
    margin-bottom: 30px;;
}

.reset-password .intro {
    text-align: center;
    max-width: 600px;
    margin: 0 auto 3em;
    color: var(--cl--4--);
    font-size: 1rem;
}

.reset-form {
    max-width: 450px;
    margin: 0 auto;
    background: var(--bg--1--);
    padding: 2em;
    border-radius: 12px;
    box-shadow: var(--shadow--green--);
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.input-group {
    display: flex;
    flex-direction: column;
}

.input-group label {
    font-weight: 500;
    margin-bottom: 0.5em;
    color: var(--cl--5--);
    text-shadow: var(--txt--shadow--);
}

.input-group input {
    padding: 0.8em 1em;
    border: 1px solid var(--cl--5--);
    border-radius: 8px;
    font-size: 1rem;
    outline: none;
    transition: border-color 0.3s ease;
}

.input-group input:focus {
    border-color: var(--cl--4--);
}

