<link rel="stylesheet" href="/css/profileUser/disabledPerson.css">

<div id="partial-disabledPerson" role="region" aria-label="Sección de personas discapacitadas registradas" itemscope
    itemtype="https://schema.org/WebPageElement">
    <a href="#" id="view-disabled-persons" class="btn-select" aria-label="Ver personas discapacitadas registradas"
        title="Personas discapacitadas registradas" itemprop="url">
        Personas discapacitadas registradas <i class="fi fi-rr-wheelchair" aria-hidden="true"></i>
    </a>
</div>

<script src="/js/profileUser/disabledPerson.js"></script>