<link rel="stylesheet" href="/css/profileUser/tickets.css">

<div id="tickets" role="region" aria-label="Sección de historial de compras" itemscope
    itemtype="https://schema.org/WebPageElement">
    <a href="#" id="view-tickets" class="btn-select" aria-label="Ver mi historial de compras"
        title="Mi historial de compras" itemprop="url">
        Mi historial de compras <i class="fi fi-rr-shop" aria-hidden="true"></i>
    </a>
</div>

<script src="/js/profileUser/tickets.js"></script>