<link rel="stylesheet" href="/css/profileUser/vehicles.css">

<div id="vehicle" role="region" aria-label="Sección de vehículos registrados" itemscope
    itemtype="https://schema.org/WebPageElement">
    <a href="#" id="view-vehicles" class="btn-select" aria-label="Ver mis vehículos registrados"
        title="Mis vehículos registrados" itemprop="url">
        Mis vehículos registrados <i class="fi fi-rr-car" aria-hidden="true"></i>
    </a>
</div>

<script src="/js/profileUser/vehicles.js"></script>